.chat-room {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;

  /* animation: slide-up 0.3s linear both; */
}
/* 
@keyframes slide-up {
  from {
    top: 100%;
  }

  to {
    top: 0%;
  }
} */

.chat-header-content {
  display: flex;
  align-items: center;
  position: relative;
  top: 16px;
  font-size: 16px;
  font-weight: 500;
}

.chat-header {
  position: fixed;
  z-index: 0;
  top: 0;
  width: 100%;
  max-width: 418px;
  max-height: 65px;
  height: 65px;
  border-bottom: 1px solid rgba(225, 225, 225, 1);

  background-color: #ffffff;
}

.content-time-box {
  display: flex;
}

.input-bottom {
  /* position: absolute; */
  position: fixed;
  z-index: 10;
  bottom: 0;
  /* bottom: 77px;
   */
  width: 100%;
  max-width: 418px;
  height: 77px;
  border-top: 1px solid rgba(225, 225, 225, 1);
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.send-img-btn {
  border: transparent;
  background-color: transparent;
}

.send-msg-btn {
  border: transparent;
  background-color: transparent;
}

.msg-input {
  padding-left: 3%;
  padding-right: 3%;
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 20px;
  width: 70%;
  height: 50%;
}

/* 받은 메시지  */
.receive-msg-box {
  display: flex;
  flex-direction: row;
  min-height: 50px;
}

.receive-profile-img {
  padding: 10px;
}
.receive-profile-img img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.receive-msg-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #bababa;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  max-width: 65%;
}

.receive-msg-time {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  color: #939597;
  font-size: 5pt;
  margin-bottom: 10px;
  margin-left: 5px;
}

/* 보내는 메시지 */
.send-msg-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 50px;
}

.send-msg-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #497c5f;
  color: #f5f5f5;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 65%;
  margin-right: 10px;
}

.send-msg-time {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  color: #939597;
  font-size: 5pt;
  margin-bottom: 10px;
  margin-right: 5px;
}

.reserve-btn {
  position: absolute;
  bottom: 11%;
  left: 4%;
}

.reserve-btn img {
  width: 50px;
  opacity: 70%;
}

.calendar-modal-background {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #c4c4c47e;

  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
}

.calendar-modal {
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000025;

  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
