.All2 {
  background-color: #f5f5f5;
  padding: 8px;
}
.mp-selected-date-rent-list {
  font-size: 22px;
  font-weight: bold;
}

.mpd-card {
  background-color: #f5f5f5;
  margin: 25px 0;
}

.mpd-content {
  background-color: white;
  border-radius: 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 4px 6px 2px grey;
  height: 132px;
  margin: 2%;
}

.mpd-product-info {
  width: 271px;
  height: 90px;
  position: relative;
}

.mpd-product-img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 30px;
  margin: 0px 10px;
}

.mpd-rent-button {
  border-radius: 16px !important;
  font-size: 13px !important;
  position: relative;
  left: 175px !important;
  bottom: 5px !important;
}

.mpd-product-name-rent-flag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mpd-product-name {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
}

.mpd-product-rent-falg {
  background-color: #ec3d2f;
  border-radius: 30px;
  padding: 0px 8px 20px 8px;
  color: white;
  font-size: 9px;
  height: 16px;
  width: 54px;
  margin: 0px 8px;
}

.mpd-product-date {
  position: relative;
  top: 5px;
}

.mpd-owner-name {
  position: relative;
  top: 10px;
}

.ui button mpd-rent-button {
  font-size: 50px;
}
