.input-tag {
  color: #497c5f;
  width: 78px;
  border: solid 1px #497c5f;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 17px 0px 0px 19px;
  padding: 3px;
}

.input-tag-text {
  font-size: 17px;
}

.input-tag-cancel {
  cursor: pointer;
}
