.inputForm {
  padding: 10px;
}

.search-input {
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
  border: solid 2px #497c5f;
  border-radius: 30px;
  padding: 9px;
}

.search-input > input {
  min-width: 70%;
  border: none;
  outline: none;
}

.input-tag {
  color: #497c5f;
  border: solid 1px#497c5f;
  border-radius: 30px;
  padding: 3px 11px;
  margin-right: 12px;
  display: inline-flex;
  /* color: #497c5f;
  width: 78px;
  border: solid 1px #497c5f;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px;
  margin-right: 9px; */
}

.input-tag-text {
  font-size: 10pt;
}

.input-tag-cancel {
  font-weight: bold;
  cursor: pointer;
  margin: 0 3px;
}
