.App {
  width: 100vw;
  /* touch-action: none; */
  /* overflow-y: scroll; */
  /* -webkit-overflow-scrolling: touch; */
  overscroll-behavior-y: none;
}

a {
  text-decoration: none;
  color: black !important;
}
